<div class="row mb-4">
    <div class="col-md-4">
        <div class="text-center">
            <span class="badge rounded-pill btn-custom">
                <strong>
                    <%= @user.username %>
                </strong>
            </span><br>
            <% if @user.avatar.attached? %>
                <%= link_to (image_tag @user.avatar, width:200, height:200, class:"rounded-circle border shadow my-3 mb-3", style:"object-fit:contain;background:black;"), @user.avatar.blob %>
            <% else %>
                <%= image_tag "https://img.freepik.com/free-icon/important-person_318-10744.jpg?w=2000", width:200, height:200, class:"rounded-circle border shadow my-3 mb-3", style:"object-fit:contain;background:black;" %>
            <% end %>
            <p>
                <strong>
                    <%= @user.email %>
                </strong><br>
                <Strong>
                    Join <%= time_ago_in_words(@user.created_at) %> ago
                </Strong><br>
                <Strong>
                    Has <%= @user.videos.count %> <%= @user.videos.count > 1 ? "videos" : "video" %>
                </Strong>
            </p>
            <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-custom mb-4" if user_signed_in? && current_user.id == @user.id %>
        </div>
    </div>
    <div class="col-md-8">
        <div class="mb-4">
            <%= render 'profiles/card_video', obj: @videos %>
        </div>
    </div>
    <% if user_signed_in? && current_user.id == @user.id %>
        <div class="mb-4">
            <%= render 'profiles/liked_list', obj: @videos %>
        </div>
    <% end %>
</div>
