<div class="row">
    <div class="col-md-4">
        <div class="text-center">
            <h1><%= @user.email %></h1>
            <% if @user.avatar.attached? %>
                <%= image_tag @user.avatar, width:200, height:200, class:"rounded-circle border shadow my-3 mb-3", style:"object-fit:contain;background:black;" %>
            <% end %>
            <p>
                <strong>
                    <%= @user.email %>
                </strong><br>
                <Strong>
                    Join <%= time_ago_in_words(@user.created_at) %> ago
                </Strong>
            </p>
            <%= button_to "Edit Profile", edit_user_registration_path, class:"btn btn-custom" %>
        </div>
    </div>
    <div class="col-md-8">
        <div id="videos">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <% @videos.order(id: :desc).each do |video| %>
                <div class="col">
                    <div class="card shadow h-100">
                    <%= link_to video, class:"text-decoration-none" do %>
                        <div class="card border border-0">
                            <% if video.file.attached? %>
                                <% if video.file.video? %>
                                    <video class="w-100 rounded" style="background:black;height:200px;">
                                        <source src="<%= rails_blob_url(video.file) %>" type="<%= video.file.content_type %>">
                                    </video>
                                <% else %>
                                    <img src="https://assets-prod.sumo.prod.webservices.mozgcp.net/media/uploads/images/2021-02-15-01-20-07-256c43.png" alt="" class="w-100 rounded" style="background:black;height:200px;">
                                <% end %>
                            <% else %>
                                <img src="https://assets-prod.sumo.prod.webservices.mozgcp.net/media/uploads/images/2021-02-15-01-20-07-256c43.png" alt="" class="w-100 rounded" style="background:black;height:200px;">
                            <% end %>
                            <div class="card-body">
                                <%= render video %>
                            </div>
                        </div>
                    <% end %>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
