<div class="mb-3">
    <strong>    
        <%= comment.user.username %>
    </strong>
    <%= time_ago_in_words(comment.created_at) %> ago
    <p>
        <%= simple_format(comment.content) %>
    </p>

    <div class="row">
        <div class="col">
            <% if user_signed_in? %>
            <button class="btn btn-custom" type="button" data-bs-toggle="collapse" data-bs-target="#id<%= comment.id %>" aria-expanded="false" aria-controls="collapseExample">
                Reply
            </button>
            <% else %>
                <button class="btn btn-custom" type="button" data-bs-toggle="collapse" data-bs-target="#" aria-expanded="false" aria-controls="collapseExample">
                    Reply
                </button>
            <% end %>
        </div>
        <div class="col text-end">
            <%= button_to 'delete', [comment.video, comment], data: { turbo_confirm: 'Are you sure?' }, method: :delete, class:"btn btn-custom" if user_signed_in? && current_user.id == comment.user.id %>
        </div>
    </div>

     <% if user_signed_in? %>
        <div class="collapse" id="id<%= comment.id %>">
            <div class="card card-body">
                <%= render partial: 'comments/form', locals: { video: comment.video, parent: comment } %>
            </div>
        </div>
    <% end %>
</div>

<div class="subcomment" style="padding-left: <%= comment.parent_id.nil? == true ? '40px' : '0px' %>;">
    <%= render comment.comments.order(id: :desc) %>
</div>