<% if video.file.attached? %>
    <% if video.file.video? %>
        <video class="w-100 shadow" height="315" controls playsinline autoplay muted loop>
            <source src="<%= rails_blob_url(video.file) %>" type="<%= video.file.content_type %>">
        </video>
    <% else %>
        <img src="https://assets-prod.sumo.prod.webservices.mozgcp.net/media/uploads/images/2021-02-15-01-20-07-256c43.png" alt="" class="w-100" style="height:315px;">
    <% end %>
<% else %>
    <img src="https://assets-prod.sumo.prod.webservices.mozgcp.net/media/uploads/images/2021-02-15-01-20-07-256c43.png" alt="" class="w-100" style="height:315px;">
<% end %>

<h3 class="mt-2">
    <strong>
        <%= video.title %>
    </strong>
</h3>
<div class="my-2">
    <%= link_to profile_path(current_user.id), class:"text-decoration-none" do %>
        <% if video.user.avatar.attached? %>
            <%= image_tag video.user.avatar, width:50, height:50, class:"rounded-circle border shadow", style:"object-fit:contain;background:black;" %>
        <% else %>
            <%= image_tag "https://img.freepik.com/free-icon/important-person_318-10744.jpg?w=2000", width:50, height:50, class:"rounded-circle border shadow", style:"object-fit:contain;background:black;" %>
        <% end %>
        <%= video.user.username %>
    <% end %>
</div>

<% if params[:action] == "edit" %>
  <div class="card my-3" style="background:var(--bs-dark-border-subtle);">
      <div class="card-body">
          <%= time_ago_in_words(video.created_at) %> ago
          <div class="collapse" id="collapseExample">
              <%= simple_format(video.body) %>
          </div>
          <p>
              <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Expand description
              </a>
          </p>
      </div>
  </div>
<% end %>

<div class="my-4">

  <%= form_with(model: video) do |form| %>
    <% if video.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

        <ul>
          <% video.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-3">
      <label for="formFileLg" class="form-label">Video</label>
      <%= form.file_field :file, accept:"video/*", class:"form-control form-control-lg", id:"formFileLg" %>
    </div>
    
    <div class="form-floating mb-3">
      <%= form.text_field :title, class:"form-control", id:"floatingInput", placeholder:"title" %>
      <%= form.label :title, for:"floatingInput" %>
    </div>

    <div class="form-floating mb-3">
      <%= form.text_area :body, class:"form-control", id:"floatingInput", placeholder:"title" %>
      <%= form.label :body, for:"floatingInput" %>
    </div>

    <div>
      <%= form.submit class:"btn btn-custom btn-lg w-100" %>
    </div>
  <% end %>
</div>
