<% if video.file.attached? %>
    <% if video.file.video? %>
        <video class="w-100 shadow" height="415" controls playsinline autoplay muted loop>
            <source src="<%= rails_blob_url(video.file) %>" type="<%= video.file.content_type %>">
        </video>
    <% else %>
        <img src="https://assets-prod.sumo.prod.webservices.mozgcp.net/media/uploads/images/2021-02-15-01-20-07-256c43.png" alt="" class="w-100" style="height:315px;">
    <% end %>
<% else %>
    <img src="https://assets-prod.sumo.prod.webservices.mozgcp.net/media/uploads/images/2021-02-15-01-20-07-256c43.png" alt="" class="w-100" style="height:315px;">
<% end %>

<div class="card mb-4 my-4">
  <div class="card-body">
      <%= form_with(model: video) do |form| %>
        <% if video.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(video.errors.count, "error") %> prohibited this video from being saved:</h2>

            <ul>
              <% video.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <label for="formFileLg" class="form-label">Video</label>
          <%= form.file_field :file, accept:"video/*", class:"form-control form-control-lg", id:"formFileLg" %>
        </div>
        
        <div class="form-floating mb-3">
          <%= form.text_field :title, class:"form-control", id:"floatingInput", placeholder:"title" %>
          <%= form.label :title, for:"floatingInput" %>
        </div>

        <div class="form-floating mb-3">
          <%= form.text_area :body, class:"form-control", id:"floatingInput", placeholder:"title", style:"min-height:150px;" %>
          <%= form.label :body, for:"floatingInput" %>
        </div>

        <div>
          <%= form.submit class:"btn btn-custom btn-lg w-100" %>
        </div>
      <% end %>
  </div>
</div>
