<div id="<%= dom_id video %>">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col col-md-8">
            <% if video.file.attached? %>
                <% if video.file.video? %>
                    <video class="w-100 shadow" height="315" controls playsinline autoplay muted loop>
                        <source src="<%= rails_blob_url(video.file) %>" type="<%= video.file.content_type %>">
                    </video>
                <% else %>
                    <img src="https://assets-prod.sumo.prod.webservices.mozgcp.net/media/uploads/images/2021-02-15-01-20-07-256c43.png" alt="" class="w-100" style="height:315px;">
                <% end %>
            <% else %>
                <img src="https://assets-prod.sumo.prod.webservices.mozgcp.net/media/uploads/images/2021-02-15-01-20-07-256c43.png" alt="" class="w-100" style="height:315px;">
            <% end %>
            <h3 class="mt-2">
                <strong>
                    <%= video.title %>
                </strong>
            </h3>
            <div class="row">
                <div class="col">
                    <div class="my-2">
                        <%= link_to profile_path(video.user.id), class:"text-decoration-none" do %>
                            <% if video.user.avatar.attached? %>
                                <%= image_tag video.user.avatar, width:50, height:50, class:"rounded-circle border shadow", style:"object-fit:contain;background:black;" %>
                            <% else %>
                                <%= image_tag "https://img.freepik.com/free-icon/important-person_318-10744.jpg?w=2000", width:50, height:50, class:"rounded-circle border shadow", style:"object-fit:contain;background:black;" %>
                            <% end %>
                            <%= video.user.username %>
                        <% end %>
                    </div>
                </div>
                <div class="col">
                    <% if user_signed_in? %>
                        <%= render "videos/upvote_link", video: video %>
                    <% end %>
                </div>
            </div>
            <div class="card my-3" style="background:var(--bs-dark-border-subtle);">
                <div class="card-body">
                    <%= time_ago_in_words(video.created_at) %> ago
                    <div class="collapse" id="collapseExample">
                        <%= simple_format(video.body) %>
                    </div>
                    <p>
                        <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Expand description
                        </a>
                    </p>
                </div>
            </div>
            <div class="mb-2">
                <h1 class="my-4">
                    <%= @video.comments.count %> Comments
                </h1>
                <%= render partial: 'comments/form', locals: { video: @video, parent: nil } if user_signed_in? %>
                <hr>
                <p>
                    <%= render @video.comments.where(parent_id: nil).includes(:user).order(id: :desc) %>
                </p>
            </div>
        </div>
        <div class="col col-md-4">
            <div id="videos">
                <% @videos.order(id: :desc).each do |video| %>
                <div class="card border border-0">
                    <%= render 'videos/show_video_list',video: video %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>