<%= link_to video, class:"text-decoration-none" do %>
    <div class="row g-2 mb-2">
        <div class="col">
            <% if video.file.attached? %>
                <% if video.file.video? %>
                    <video class="w-100 rounded" style="background:black;height:100px;">
                        <source src="<%= rails_blob_url(video.file) %>" type="<%= video.file.content_type %>">
                    </video>
                <% end %>
            <% end %>
        </div>
        <div class="col">
            <div style="left:100px;">
                <h6>
                    <%= truncate(video.title, length: 50) %>
                </h6>
                <p>
                    <%= video.user.email %>
                    <br>
                    <%= time_ago_in_words(video.created_at) %> ago
                </p>
            </div>
        </div>
    </div>
<% end %>