<div id="<%= dom_id video %>">
  <div class="row g-3 mb-2">
    <div class="col-3">
      <div class="text-center">
        <% if video.user.avatar.attached? %>
            <%= image_tag video.user.avatar, width:50, height:50, class:"rounded-circle border shadow", style:"object-fit:contain;background:black;" %>
        <% else %>
            <%= image_tag "https://img.freepik.com/free-icon/important-person_318-10744.jpg?w=2000", width:50, height:50, class:"rounded-circle border shadow", style:"object-fit:contain;background:black;" %>
        <% end %>
      </div>
    </div>
    <div class="col-9">
      <h5 class="card-title">
        <%= truncate(video.title, length: 26) %> 
      </h5>
      <p class="card-text">
        <%= truncate(video.user.username, length: 26) %>
        <br>
        <%= time_ago_in_words(video.created_at) %> ago
      </p>
      <p>
        <%= render "videos/votes_score", video: video %>
      </p>
    </div>
  </div>
</div>